@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: #181a1b;
  color: white;
}

.container {
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-areas:
    "a a a a"
    "b b c c"
    "d d d d"
    ". e e .";
}

/*------- To select multiple classes at the same time ---------
----------------- seperate the classes using ","--------------- */

.box2,
.box3,
.box4,
.box5 {
  border: 2px red solid;
  border-radius: 8px;
  padding: 8px;
}

.heading {
  text-align: center;
  font-size: large;
  grid-area: a;
}

.box2 {
  grid-area: b;
}

.box3 {
  grid-area: c;
}

.box4 {
  grid-area: d;
}
.box5 {
  grid-area: e;
}
