@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: rgb(39, 44, 44);
  color: white;
}

.custom-link {
  text-decoration: none;
  color: white;
  background: black;
  border: 2px transparent solid;
  padding: 6px 12px;
  border-radius: 5px;
  position: relative;
}

.link-container {
  display: flex;
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.custom-link::before,
.custom-link::after {
  content: "";
  position: absolute;
  inset: -0.25rem;
  background: conic-gradient(
    from var(--angle),
    magenta,
    salmon,
    yellow,
    salmon,
    magenta
  );
  z-index: -1;
  border-radius: 7px;
  animation: rotation 1s linear infinite;
}

.heading-text {
  font-size: larger;
}

@keyframes rotation {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.custom-link:after {
  filter: blur(0.18rem);
}
