@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: #181a1b;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 3px rgb(80, 80, 80) solid;
  border-radius: 10px;
  padding: 40px;
  min-width: 40vw;
  text-align: center;
  margin-top: 100px;
}

.heading-text {
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.container-one,
.container-two,
.container-three {
  display: flex;
}

.container-one {
  justify-content: space-between;
}

.container-two {
  justify-content: space-around;
}

.main-container .container-three {
  justify-content: space-evenly;
}

.box1,
.box2,
.box3 {
  border: 3px darkorange solid;
  padding: 6px 12px;
  border-radius: 6px;
}

@media screen and (max-width: 431px) {
  body {
    font-size: small;
  }
  .wrapper {
    padding: 40px 20px;
    margin: 100px 20px;
  }
}
